<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreador de Hábitos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto p-4">
        <div
            class="bg-gradient-to-r from-teal-500 to-blue-500 text-white p-4 rounded-t-lg flex justify-between items-center">
            <h1 class="text-xl font-bold">Hábitos</h1>
            <button class="bg-white text-blue-500 p-2 rounded-full">
                <img width="24" height="24"
                    src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/228BE6/external-online-account-logout-with-arrow-direction-mark-login-bold-tal-revivo.png"
                    alt="external-online-account-logout-with-arrow-direction-mark-login-bold-tal-revivo" />
            </button>
        </div>
        <div class="bg-white p-4 rounded-b-lg shadow-lg">
            <div class="flex items-center mb-4">
                <form class='flex' method='post' action="{% url 'crear_habito' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="bg-blue-500 text-white p-2 rounded-full ml-2"> <svg
                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                    </button>
                </form>
            </div>


            <table class="w-full text-left">
                <thead>
                    <tr>
                        <th class="p-2">Hábito</th>
                        {% for fecha in fechas %}
                        <th class='p-2 text-center'>{{ fecha }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="habit-table-body">
                    {% for habito in habitos %}
                    <tr>
                        <td class='p-2 flex items-center'>
                            <a href="{% url 'editar_habito' habito.pk %}"
                                class="bg-blue-500 text-white p-1 rounded-full mr-2">
                                <img width="32" height="32"
                                    src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/FFFFFF/external-pencil-interface-kiranshastry-solid-kiranshastry.png"
                                    alt="Editar" />
                            </a>
                            <a href="{% url 'borrar_habito' habito.pk %}"
                                class="bg-red-600 text-white p-2 rounded-full mr-2">
                                <img width="24" height="24"
                                    src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-trash-web-flaticons-flat-flat-icons-2.png"
                                    alt="Borrar" />
                            </a>
                            <a href='{% url "historial" habito.pk %}' class='m-2'>{{ habito.titulo }}</a>
                        </td>
                        {% for dia in habito.obtener_ultimos_7_dias %}
                        <td class="cursor-pointer text-center" data-dia-id="{{ dia.id }}">
                            {% if dia.realizado %}                
                            <a href="{% url 'alternar_dia' dia.pk %}"
                                style="display: inline-block;">
                                <img width="32" height="32"
                                    src="https://img.icons8.com/?size=100&id=pIPl8tqh3igN&format=png&color=000000"
                                    alt="Alternar a no realizado" />
                            {% else %}
                            <a href="{% url 'alternar_dia' dia.pk %}"
                                style="display: inline-block;">
                                <img width="34" height="34"
                                    src="https://img.icons8.com/?size=100&id=13903&format=png&color=000000"
                                    alt="Alternar a realizado" />
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>

</body>

</html>
